// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// palette used but not link as global variable
$m-darkblue: #06668C;
$m-blue: #427AA1;
$m-white: #EBF2FA;
$m-darkgreen: #679436;
$m-green: #A4BD01;
