<div class="fieldsPopup">
  <div class="formPopup" id="popupForm">
    <% @fields.each do |field| %>
      <button class="mt-3 ml-2 fieldNames" id="<%= field.id %>">
        <%= field.name %>
      </button>
    <% end %>
  </div>
</div>
