<div class="container">
  <h1 class="d-flex mt-3">Bienvenue au Gaec moutmout</h1>
  <p class="d-flex justify-content-center">Ensemble, comptons les moutons</p>

  <%= button_to "Mes lots", lots_path, method:"get", class:"main-btns"%>
  <%= button_to "Mes parcelles", fields_path, method:"get", class:"main-btns"%>
  <%= button_to "Mes moutons", sheeps_path, method:"get", class:"main-btns"%>

</div>
