.field-btn-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.link-to-field-btn {
  background-color: #EBF2FA;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 1px 1px 3px;
  margin-bottom: 16px;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  text-decoration: none !important;
  display: flex;
  width: 100%;
}

.parcelle_new-btn {
  background-color: #EBF2FA;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 1px 1px 3px;
  margin-bottom: 16px;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  text-decoration: none !important;
  display: flex;
  width: 100%;
}
