<div class="container">
  <p>listes des lots</p>
      <%= button_to "Nouveau lot", new_lot_path, method:"get", class:"new-sheep-btns" %>
      <% @lots.each do |lot|%>
        <%= button_to "Lot n°#{lot.id}", sheep_path(sheep.id), method:"get", class:"main-btns" %>
      <% end %>
    <%= link_to "retour", root_path , class:"rtrn-btn"%>
</div>
