.female-sticker {
  height: 50px;
  width: 50px;
  background-color: red;
  border-radius: 50%;
  position: relative;
  right: 16px;
  z-index: 9;
}

.male-sticker {
  height: 50px;
  width: 50px;
  background-color:blue;
  border-radius: 50%;
  position: relative;
  right: 16px;
  z-index: 9;

}
