.female-sticker {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  position: relative;
  top: -20px;
  z-index: 9;
}

.male-sticker {
  height: 25px;
  width: 25px;
  background-color:blue;
  border-radius: 50%;
  position: relative;
  top: -20px;
  z-index: 9;

}
