.female-sticker {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  position: relative;
  left: 288px;
  top: -96px;
}

.male-sticker {
  height: 25px;
  width: 25px;
  background-color:blue;
  border-radius: 50%;
  position: relative;
  left: 288px;
  top: -96px;
}
