#map {
  width: 328px;
  height: 300px;
  margin-bottom: 16px;
}

.calculation-box {
height: 32px;
width: 330px;
position: absolute;
bottom: 172px;
left: 10px;
background-color: rgba(255, 255, 255, 0.9);
text-align: center;
}
