<div class="container">
  <h1><%= "#{@field.name}" %></h1>
  <p>listes des moutons</p>
      <% @sheeps.each do |sheep|%>
            <%= button_to "mouton n°#{sheep.id}", field_path(sheep), class:"main-btns" %>
      <% end %>
</div>
