<div class="container">
  <h1>Tous les moutons</h1>
  <% @sheeps.each do |sheep|%>
    <div class="sheep-btns">
      <%= button_to "", sheep_path(sheep.id), method:"get", class:"sheep-links" %>
      <div class="sheep-informations">
        <div class="sheep-names">
          <%= "mouton n° #{sheep.electronic_id}" %>
        </div>
        <%= render "shared/gender_sticker", sheep: sheep %>
      </div>
    </div>
  <% end %>
</div>
